/* خاص بصفحة post.html فقط */

.post-container {
    max-width: 600px;
    margin: 40px auto; /* يوسط الصفحة من فوق وتحت ويخليها بالنص */
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 15px; /* يخلي فيه مسافة ثابتة بين المربع والزر */
}

/* تنسيق منطقة النص */
.post-input-area {
    width: 100%;
    background-color: var(--card-dark);
    border: 1px solid var(--border-main);
    border-radius: 12px;
    padding: 15px;
    color: var(--text-white);
    font-family: var(--main-font);
    font-size: 1.1rem;
    min-height: 150px;
    outline: none;
    resize: none;
}

.post-input-area:focus {
    border-color: var(--accent-blue);
}

/* زر النشر */
.publish-btn {
    width: 100%;
    background-color: var(--accent-blue);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    font-family: var(--main-font);
}
